<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BelminTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE36C8ED1D5CD7BB00FBA521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE36C9011D5CD7BB00FBA521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE36C90C1D5CD7BC00FBA521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
